# Node.js dependencies
node_modules/
./frontend/node_modules/
./backend/node_modules/

# Build output
dist/
build/

# Environment variables
.env

# Logs
*.log

# Editor files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
